*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;

}

h1 {
  margin: 0;
  text-transform: uppercase;
  background: linear-gradient(to right, #FFF2C6, #FFF8DE, hotpink, #FFF8DE, #FFF2C6);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
  color: whitesmoke;
}

.opening-container {
  display: flex;
  background-image: linear-gradient(to right, skyblue, darkslateblue, skyblue);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* 
.left-container {
  margin-left: 2rem;
  width: fit-content;
  position: fixed;
  top: 1.5rem
} */

.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1
}

.opening {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  color: rgb(255, 255, 255);
}

/* .logo {
  width: 6rem;
} */

.message-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem;
  background-color: #FFF2C6;
  margin-top: 1rem;
  width: 70dvw;
  margin-inline: auto;
  border-radius: 1rem;
}

.message {
  color: black;
  margin-top: 0;
}

.person {
  border-radius: 50%;
  max-width: 200px;
}

.confetti-button {
    margin-top: 1rem;
    font-family: "Roboto";
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .3s;
    background-color: rgb(166, 255, 144);
}

.confetti-button:hover {
  opacity: .7;
}

.cake-container{
  display: flex;
  align-items: center;
}

.cake {
  margin-inline: auto;
  width: 200px;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
